# Default values for Tip-Wlan
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

#################################################################
# Global configuration overrides.
#
# These overrides will affect all helm charts (ie. applications)
# that are listed below and are 'enabled'.
#################################################################
global:
  # Change to an unused port prefix range to prevent port conflicts
  # with other instances running within the same k8s cluster
  nodePortPrefix: 302
  # namespace to deploy the release
  nsPrefix: tip

  repository: tip-tip-wlan-cloud-docker-repo.jfrog.io
  # image pull policy
  pullPolicy: Always

  # default mount path root directory referenced
  # by persistent volumes and log files
  persistence:

  # override default resource limit flavor for all charts
  flavor: unlimited

  # flag to enable debugging - application support required
  debugEnabled: false
  
# Namespace related
createReleaseNamespace: true

# DockerRegistry Secret
createDockerRegistrySecret: true

# Docker Registry secret to pull docker images from WLAN repo
dockerRegistrySecret: dummySecret

# Annotations to add to the namespace
annotations: {}

# Enabling components under Tip-wlan
opensync-gw-static:
  enabled: false
opensync-mqtt-broker:
  enabled: false
wlan-cloud-graphql-gw:
  enabled: false
wlan-cloud-static-portal:
  enabled: false
wlan-portal-service:
  enabled: false
wlan-prov-service:
  enabled: false
wlan-ssc-service:
  enabled: false
wlan-integrated-cloud-component-service:
  enabled: false
nginx-ingress-controller:
  enabled: false
zookeeper:
  enabled: false
kafka:
  enabled: false
cassandra:
  enabled: false
postgresql:
  enabled: false