HOME            = .
RANDFILE        = $ENV::HOME/.rnd

input_password  = mypassword
output_password = mypassword

####################################################################
[ req ]
default_bits       = 2048
default_keyfile    = serverkey.pem
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = CA

stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Ontario

localityName         = Locality Name (eg, city)
localityName_default = Ottawa

organizationName            = Organization Name (eg, company)
organizationName_default    = ConnectUs Technologies

commonName           = Common Name (e.g. server FQDN or YOUR name)
commonName_default   = Test_Server

emailAddress         = Email Address
emailAddress_default = test@example.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
#authorityKeyIdentifier  = keyid:always, issuer:always
basicConstraints     = critical, CA:FALSE
keyUsage             = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage     = critical, serverAuth
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Server Certificate"

####################################################################
[ alternate_names ]

DNS.1  = opensync-redirector.cicd.lab.wlan.tip.build
DNS.2  = opensync-controller.cicd.lab.wlan.tip.build
DNS.3  = tip-postgresql

# IPv4 localhost
IP.1     = 127.0.0.1

# IPv6 localhost
IP.2     = ::1

