apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: {{ include "common.namespace" . }}
data:
{{ tpl (.Files.Glob "resources/config/mosquitto.conf").AsConfig . | indent 2 }}
